<div role="tabpanel" class="tab-pane active" id="receipts">
  <% if @user.receipts.blank? %>
    <p>Looks like no money's come in yet.</p>
  <% else
      @user.receipts.each do |transaction, t|
  %>
    <li>
      <div><span class="label label-success"><%= transaction.code %></span> confirmed. <%= transaction.sender.name %> sent you <%= number_to_currency(transaction.amount, unit:"KES ") %> on <%= transaction.happened_on %>.</div>
    </li>
  <%  end
    end %>
</div>