<div role="tabpanel" class="tab-pane active" id="receipts">
  <% if @user.receipts.blank? %>
    <p>Looks like no money's come in yet.</p>
  <% else
      @user.receipts.each do |transaction, t|
  %>
    <div class="message panel panel-default">
      <div class="panel-body">
        <i class="glyphicon glyphicon-credit-card"></i> <span class="text-uppercase"><%= transaction.code %></span> confirmed. <strong><%= number_to_currency(transaction.amount, unit:"KES ") %></strong> received from <%= transaction.sender.name %> <%= human_time(transaction.created_at) %>.</div>
    </div>
  <%  end
    end %>
</div>