<div role="tabpanel" class="tab-pane" id="sends">
  <% if @user.sends.blank? %>
    <p>Looks like no money's gone out yet.</p>
  <% else
      @user.sends.each do |transaction, t|
  %>
    <div class="message panel panel-default">
      <div class="panel-body">
        <i class="glyphicon glyphicon-credit-card"></i> <span class="text-uppercase"><%= transaction.code %></span> confirmed. <strong><%= number_to_currency(transaction.amount, unit:"KES ") %></strong> sent to <%= transaction.recipient.name %> <%= human_time(transaction.created_at) %>.</div>
    </div>
  <%  end
    end %>
</div>