<div role="tabpanel" class="tab-pane" id="topups">
  <% if @user.topups.blank? %>
    <p>Looks like you haven't topped up yet.</p>
  <% else
      @user.topups.each do |transaction, t|
  %>
    <div class="message panel panel-default">
      <div class="panel-body">
        <i class="glyphicon glyphicon-credit-card"></i> 
        <span class="text-uppercase"><%= transaction.code %></span> confirmed. <strong><%= number_to_currency(transaction.amount, unit:"KES ") %></strong> added to your account <%= human_time(transaction.created_at) %>.
      </div>
    </div>
  <%  end
    end %>
</div>