<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
		<h2>Top Up Account</h2>
	  </div>
	  <div class="panel-body">
	  	<p class="help-block">Enter the amount you want to add to your WPESA wallet.</p>

		<%= form_for(@transaction, url: create_top_up_transactions_path(@post), html: { method: :post }) do |f| %>

		<div class="form-group">
			<%= f.label :amount, "Amount (KES)" %><br />
			<%= f.number_field :amount, autofocus: true, class: "form-control", autocomplete: "off" %>
		</div>	  

		<div class="actions">
		<%= f.submit "Top up", class: "btn btn-success btn-lg" %>
		</div>
		<% end %>
  	</div>
    </div>
  </div>
</div>